@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
font-family: 'League Spartan';
src: url('assets/fonts/LeagueSpartan-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #FFFDF2;
    font-size: 16px;
    color: #4B2E2E;
}
.header {
    display: flex; /* Use Flexbox for horizontal alignment */
    justify-content: space-between; /* Space between title and nav items */
    align-items: center; /* Vertically align items */
    padding: 10px 10px; /* Add padding for spacing */
    color: #4B2E2E; /* Text color for the title */
  }
  
  /* Title styling */
  .header .title {
    font-size: 30px; /* Adjust the font size of the title */
    font-weight: bold;
    margin: 0;
  }
  
  /* Navigation bar styling */
  .navbar {
    display: flex; /* Align nav items horizontally */
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Individual navigation links */
  .navbar a {
    color: #4B2E2E; /* Link text color */
    text-decoration: none; /* Remove underline */
    margin: 10px 10px; /* Spacing between links */
    font-size: 18px; /* Font size */
  }
  
  /* Hover effect for links */
  .navbar a:hover {
     border-bottom: 2px solid black;
  }
  
  /* Active link styling */
  .navbar a.active {
    font-weight: bold;
    color: #4B2E2E; /* Highlight active link */
  }
  
  
 